.form{
    margin: 0 auto;
    width: 50%;
    /* border: solid green; */
}

.form > input{
    padding: 18px 20px;
    border: solid 1px #e2e2e2;
    border-radius: 5px;
    width: 70%;
    font-size: 18px;   
}

.form > button{
    border: none;
    outline: none;
    background-color: #124acc;
    padding: 12px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
}